<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <title>Dodaj nowy serwer - Lista serwerów minecraft | MC-List.pl</title>
    <meta name="description"
        content="Znajdź najlepsze serwery Minecraft w jednym miejscu! Aktualna lista serwerów Minecraft, podzieloną na kategorie, takie jak tryby gry, liczba graczy, wersje oraz modyfikacje. Odkryj nowe serwery i dołącz do gry już teraz!" />
    <meta name="keywords"
        content="Minecraft, serwery Minecraft, lista serwerów Minecraft, najlepsze serwery Minecraft, serwery survival, serwery creative, serwery PvP, serwery multiplayer, serwery premium, serwery non-premium, Minecraft serwery, serwery z modyfikacjami, serwery mini-games, serwery hardcore, serwery roleplay, Minecraft online, serwery z pluginami" />


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="https://mc-list.pl/img/logo3.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MC-List.pl" />
    <meta name="robots" content="index, follow">

    <base href="http://localhost:8080/">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/formElement.css">
    <link rel="stylesheet" href="/css/subPage/addNewServer.css">

    <!-- Font Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2282473dfd.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script src="/js/modeManager.js" type="module" defer></script>
    <script src="/js/versionManager.js" type="module" defer></script>
    <script src="/js/addNewServerManager.js" type="module" defer></script>
</head>

<body>
    <div class="divider-line-vertical"></div>
    <div id="container">
        <h1 class="header">Dodaj nowy serwer</h1>

        <div id="form-container">
            <div class="input-area">
                <input id="address-input" type="text" placeholder="Adres serwera" maxlength="60">
                <span class="required">*</span>
                <div class="icon">
                    <i class="fa-solid fa-server"></i>
                </div>
            </div>

            <div class="input-area">
                <input id="port-input" type="number" placeholder="Port" maxlength="60">
                <div class="icon">
                    <i class="fa-solid fa-shield"></i>
                </div>
            </div>

            <div class="input-area-select">
                <div id="mode-list-panel" class="item-list-panel" style="display: none;">
                    <div class="item-list-wrapper scrollable scrollable-vertical">
                        <div class="item-list-container" id="mode-list-container">
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <input id="mode-input" placeholder="Wybierz tryb serwera" type="text" maxlength="60"
                        autocomplete="off">
                    <div class="icon">
                        <i class="fa-solid fa-dice-d6"></i>
                    </div>
                </div>

                <div class="selected-item-wrapper scrollable-horizontal scrollable">
                    <div id="selected-mode-container" class="selected-item-container scrollable-container">

                    </div>
                </div>
            </div>

            <div class="input-area-select">
                <div id="version-list-panel" class="item-list-panel" style="display: none;">
                    <span class="center">Wystarczy wybrać jedynie najnowszą i najstarszą wersję</span>
                    <div class="item-list-wrapper scrollable scrollable-vertical">
                        <div class="item-list-container" id="version-list-container">
                        </div>
                    </div>
                </div>

                <div class="input-container">
                    <input id="version-input" placeholder="Wybierz wersje serwera" type="text" maxlength="60"
                        autocomplete="off">
                    <div class="icon">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

                <div class="selected-item-wrapper scrollable-horizontal scrollable">
                    <div id="selected-version-container" class="selected-item-container scrollable-container">

                    </div>
                </div>
            </div>

            <div id="server-status-response-error" style="display: none;"><span class="red">Nie możemy znaleźć takiego
                    serwera. Czy wpisałeś poprawny adres oraz port serwera?</span><br>
                <br>
                Jeśli serwer jest włączony i wciąż występuje błąd z połączeniem, przeczytaj więcej o możliwych
                przyczynach <a href="/connectionError" class="link">tutaj</a>.
            </div>

            <lottie-player id="loading-animation" src="/animation/loading.json" background="transparent" speed="1"
                style="width: 100px; height: 100px; display: none;" loop autoplay></lottie-player>
        </div>

        <div class="footer">
            <div id="error-message" class="error"></div>
            <div class="submit-button" id="add-server-button">Dodaj</div>
        </div>
    </div>
    <div class="divider-line-vertical"></div>
</body>

</html>