<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <title>Polityka Prywatności - Lista serwerów minecraft | MC-List.pl</title>
    <meta name="description"
        content="Znajdź najlepsze serwery Minecraft w jednym miejscu! Aktualna lista serwerów Minecraft, podzieloną na kategorie, takie jak tryby gry, liczba graczy, wersje oraz modyfikacje. Odkryj nowe serwery i dołącz do gry już teraz!" />
    <meta name="keywords"
        content="Minecraft, serwery Minecraft, lista serwerów Minecraft, najlepsze serwery Minecraft, serwery survival, serwery creative, serwery PvP, serwery multiplayer, serwery premium, serwery non-premium, Minecraft serwery, serwery z modyfikacjami, serwery mini-games, serwery hardcore, serwery roleplay, Minecraft online, serwery z pluginami" />


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="https://mc-list.pl/img/logo3.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MC-List.pl" />
    <meta name="robots" content="index, follow">

    <base href="http://localhost:8080/">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/formElement.css">
    <link rel="stylesheet" href="/css/subPage/rules.css">
    <link rel="stylesheet" href="/css/fragment/header.css">
    <link rel="stylesheet" href="/css/fragment/footer.css">

    <!-- Font Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2282473dfd.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <div th:replace="~{fragment/header :: headerFragment}"></div>

    <article id="rule-container">
        <h1>Polityka Prywatności serwisu MC-List.pl</h1>
        <h2>§1. Informacje ogólne</h2>
        <ol>
            <li>Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych użytkowników strony
                internetowej MC-List.pl (dalej: "Serwis") służącej do zamieszczania serwerów gry minecraft.
                Administrator zapewnia, że przetwarzanie danych osobowych odbywa się zgodnie z obowiązującymi przepisami
                prawa, w szczególności z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 (RODO).</li>
            <li>Administratorem danych osobowych (dalej: „Administrator”) jest Administrator Serwisu zdefiniowany w
                bieżącym regulaminie Serwisu.</li>
            <li>Administrator może przekazywać dane osobowe Użytkownika oraz inne jego informacje podmiotom upoważnionym
                zgodnie z obowiązującymi przepisami prawa, na przykład organom ścigania.</li>
        </ol>
        <h2>§2. Zakres zbieranych danych</h2>
        Administrator przetwarza następujące dane osobowe użytkowników posiadających założone konto w Serwisie:<br>
        <li>Adres e-mail</li><br>
        <h2>3. Cele przetwarzania danych</h2>
        Dane osobowe użytkowników przetwarzane są w celu:
        <li>Kontaktowania się z użytkownikiem (adres e-mail)</li>
        <h2>4. Prawa użytkowników</h2>
        Użytkownikom przysługują następujące prawa:
        <li>Prawo dostępu do danych,</li>
        <li>Prawo do sprostowania danych,</li>
        <li>Prawo do usunięcia danych,</li>
        <li>Prawo do ograniczenia przetwarzania danych,</li>
        <li>Prawo do przenoszenia danych,</li>
        <li>Prawo do sprzeciwu wobec przetwarzania danych,</li>
        <li>Prawo do cofnięcia zgody na przetwarzanie danych.</li>
        W celu skorzystania z powyższych praw należy skontaktować się z Administratorem danych osobowych pod adresem
        e-mail support@coresaken.com

        <h2>5. Pliki cookies</h2>
        Strona wykorzystuje pliki cookies w celu zapewnienia prawidłowego działania oraz poprawy jej funkcjonalności.
        Użytkownik ma możliwość zarządzania plikami cookies za pomocą ustawień przeglądarki internetowej.

        <h2>6. Zmiany w Polityce Prywatności</h2>
        Administrator zastrzega sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności. O wszelkich
        zmianach użytkownicy będą informowani poprzez publikację nowej Polityki Prywatności na Stronie.
        <h2>7. Kontakt</h2>
        W razie pytań dotyczących niniejszej Polityki Prywatności prosimy o kontakt pod adresem e-mail:
        support@coresaken.com


    </article>

    <div th:replace="~{fragment/footer :: footerFragment}"></div>
</body>

</html>