<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <title th:text="'Zgłaszanie serwera '+ ${server.name.name} +' | MC-List.pl'"></title>
    <meta name="description"
        content="Znajdź najlepsze serwery Minecraft w jednym miejscu! Aktualna lista serwerów Minecraft, podzieloną na kategorie, takie jak tryby gry, liczba graczy, wersje oraz modyfikacje. Odkryj nowe serwery i dołącz do gry już teraz!" />
    <meta name="keywords"
        content="Minecraft, serwery Minecraft, lista serwerów Minecraft, najlepsze serwery Minecraft, serwery survival, serwery creative, serwery PvP, serwery multiplayer, serwery premium, serwery non-premium, Minecraft serwery, serwery z modyfikacjami, serwery mini-games, serwery hardcore, serwery roleplay, Minecraft online, serwery z pluginami" />


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="https://mc-list.pl/img/logo3.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MC-List.pl" />
    <meta name="robots" content="index, follow">

    <base href="http://localhost:8080/">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/formElement.css">
    <link rel="stylesheet" href="/css/subPage/promotionPoints.css">
    <link rel="stylesheet" href="/css/fragment/header.css">
    <link rel="stylesheet" href="/css/fragment/footer.css">
    <link rel="stylesheet" href="/css/fragment/serverPreview.css">

    <!-- Font Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2282473dfd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div th:replace="~{fragment/header :: headerFragment}"></div>

    <div id="page-wrapper" class="center">
        <section id="container">
            <div id="server-preview" class="panel">
                <div class="logo">
                    <img class="logo-src">
                </div>
                <div class="middle-panel">
                    <div class="address-value">

                    </div>
                    <div class="motd">
                        <div class="motd">

                        </div>
                    </div>
                    <div class="tag-container">
                        <div class="tag mode-tag" style="display: none;">
                            <div class="icon">
                                <i class="fa-solid fa-dice-d6"></i>
                            </div>
                            <div class="content">

                            </div>
                        </div>

                        <div class="tag version-tag" style="display: none;">
                            <div class="icon">
                                <i class="fa-solid fa-code-branch"></i>
                            </div>
                            <div class="content">

                            </div>
                        </div>

                        <div class="tag mods-tag" style="display: none;">
                            <div class="icon">
                                <i class="fa-solid fa-parachute-box"></i>
                            </div>
                            <div class="content">
                                Mody
                            </div>
                        </div>

                        <div class="tag premium-tag" style="display: none;">
                            <div class="icon">
                                <i class="fa-solid fa-medal"></i>
                            </div>
                            <div class="content">
                                Premium
                            </div>
                        </div>
                    </div>
                </div>

                <div class="statistic-container">
                    <div class="online statistic">
                        <div class="icon">🟢</div><span class="online-value">0</span>
                    </div>
                    <div class="votes statistic">
                        <div class="icon">❤️</div><span class="vote-value">0</span>
                    </div>
                </div>
            </div>

            <div id="main-container" class="panel">
                <h1 class="header">Zgłaszanie serwera</h1>

                <br>
                <span class="center" style="text-align: center;">Jeśli serwer łamie nasz regulamin, możesz go tutaj
                    zgłosić
                    <br><br>
                    <b>Zgłoś serwer, szczególnie gdy:</b> <br>
                    Podaje fałszywe informacje. <br>
                    Posiada zawyżoną ilość graczy online. <br>
                    Nie jest polskim serwerem <br>
                </span>
                <br>

                <div id="form-container" class="center">
                    <div class="input-area">
                        <input id="report-reason-input" type="text" placeholder="Powód" maxlength="512">
                        <span class="required">*</span>
                        <div class="icon">
                            <i class="fa-solid fa-flag"></i>
                        </div>
                    </div>

                    <div class="footer">
                        <div id="error-message" class="error"></div>
                        <div class="submit-button" onclick="sendReport(this)">Zgłoś</div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="~{fragment/footer :: footerFragment}"></div>
</body>
<script th:inline="javascript" type="module" defer>
    import { loadServerPreview } from './js/server/serverPreviewLoader.js';
    var server = /*[[${server}]]*/ null;
    loadServerPreview(server);
</script>

<script th:inline="javascript">
    const responseError = document.getElementById('error-message');
    const reportReasonInput = document.getElementById('report-reason-input');

    async function sendReport(button) {
        var serverId = /*[[${server.id}]]*/ 0;
        var reportReason = reportReasonInput.value;

        if (reportReason.length < 20) {
            responseError.innerHTML = "Powód zgłoszenia jest zbyt krótki. Opisz bardziej swój powód"
            return;
        }

        try {
            const response = await fetch('/server/' + serverId + '/report/send', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    text: reportReason
                })
            });

            if (!response.ok) {
                const errorResponse = await response.json();
                throw new Error(`Error: ${errorResponse.message}`);
            }
            else {
                const responseJson = await response.json();

                responseError.innerHTML = responseJson.message;

                button.style.display = "none";
            }
        } catch (error) {
            responseError.innerHTML = error.message;
        }
    }
</script>

</html>