<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <title>Regulamin - Lista serwerów minecraft | MC-List.pl</title>
    <meta name="description"
        content="Znajdź najlepsze serwery Minecraft w jednym miejscu! Aktualna lista serwerów Minecraft, podzieloną na kategorie, takie jak tryby gry, liczba graczy, wersje oraz modyfikacje. Odkryj nowe serwery i dołącz do gry już teraz!" />
    <meta name="keywords"
        content="Minecraft, serwery Minecraft, lista serwerów Minecraft, najlepsze serwery Minecraft, serwery survival, serwery creative, serwery PvP, serwery multiplayer, serwery premium, serwery non-premium, Minecraft serwery, serwery z modyfikacjami, serwery mini-games, serwery hardcore, serwery roleplay, Minecraft online, serwery z pluginami" />


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="https://mc-list.pl/img/logo3.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="MC-List.pl" />
    <meta name="robots" content="index, follow">

    <base href="http://localhost:8080/">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/formElement.css">
    <link rel="stylesheet" href="/css/subPage/rules.css">
    <link rel="stylesheet" href="/css/fragment/header.css">
    <link rel="stylesheet" href="/css/fragment/footer.css">

    <!-- Font Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2282473dfd.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <div th:replace="~{fragment/header :: headerFragment}"></div>

    <article id="rule-container">
        <h1>Regulamin serwisu MC-List.pl</h1>
        <h2>§1. Definicje</h2>
        <ul>
            <li><b>Serwis</b> - Internetowy serwis służący do zamieszczania serwerów gry minecraft</li>
            <li><b>Regulamin</b> - Warunki świadczenia usług za pośrednictwem Serwisu oraz zbiór zasad i norm
                obowiązujących na
                stronie MC-List.pl</li>
            <li><b>Użytkownik</b> - Każdy podmiot korzystający z usług Serwisu.</li>
            <li><b>Administrator</b> - Osoba lub podmiot odpowiedzialny za zarządzanie Serwisem oraz jego prawidłowe
                funkcjonowanie.</li>
            <li><b>Serwer</b> - Serwery gry minecraft zamieszczone przez Użytkowników.</li>
            <li><b>Baza danych</b> - Zorganizowany zbiór danych przechowywany przez Administratora.</li>
            <li><b>Polityka Prywatności</b> - Dokument określający zasady przetwarzania danych osobowych Użytkowników
                Serwisu.
            </li>
        </ul>

        <h2>§2. Wstęp</h2>
        <ol>
            <li>Regulamin określa warunki świadczenia usług za pośrednictwem internetowego serwisu działającego pod
                adresem
                MC-List.pl. Oznacza to, że zawiera on wszystkie zasady, prawa i obowiązki zarówno Użytkowników, jak
                i
                Administratora Serwisu, które obowiązują podczas korzystania z serwisu. Regulamin precyzuje, w jaki
                sposób
                usługi są świadczone, jakie są warunki korzystania z serwisu oraz jakie zasady obowiązują w relacjach
                między
                Użytkownikami a Administratorem Serwisu.</li>
            <li>Warunkiem koniecznym do skorzystania z usług Serwisu jest zapoznanie się z niniejszym Regulaminem oraz
                jego
                akceptacja. Oznacza to, że każdy Użytkownik, przed rozpoczęciem korzystania z serwisu, musi przeczytać i
                zaakceptować zasady oraz warunki określone w Regulaminie. Bez zaakceptowania tych warunków korzystanie z
                usług serwisu nie będzie możliwe.</li>
            <li>Głównym Administratorem Serwisu i Administratorem danych osobowych jest: <br>
                Sebastian Gałan<br>
                Lipsko 10G<br>
                22-400 Zamość<br><br>

                Kontakt:<br>
                Adres e-mail: support@coresaken.com<br>
                Numer telefonu: 517421739<br>
                Adres korespondencyjny:<br>
                Lipsko 10G<br>
                22-400 Zamość<br><br>
            </li>
        </ol>
        <h2>§3. Odpowiedzialności</h2>
        <ol>
            <li>Serwis nie ponosi żadnej odpowiedzialności za treści zamieszczane przez Użytkowników. Oznacza to, że
                wszelkie materiały czy informacje umieszczane przez Użytkowników są wyłącznie ich
                odpowiedzialnością. Serwis
                nie weryfikuje ani nie kontroluje wszystkich treści zamieszczanych przez Użytkowników, w związku z
                czym nie
                może być pociągany do odpowiedzialności za ich prawdziwość, dokładność ani za jakiekolwiek szkody
                wynikające z
                ich publikacji.</li>
            <li>Za treści zawarte w opisie serwerów odpowiada wyłącznie Użytkowników. Oznacza to, że to on ponosi pełną
                odpowiedzialność prawną za wszelkie informacje, jakie zostaną opublikowane w opisie, w tym za ich
                prawdziwość, rzetelność oraz zgodność z obowiązującymi przepisami prawa. Wszelkie ewentualne roszczenia
                wynikające z treści opisu powinny być kierowane bezpośrednio do Użytkownika, który jest jedynym
                podmiotem
                odpowiedzialnym za zamieszczone informacje.</li>
            <li>Serwis nie ponosi odpowiedzialności za jakiekolwiek działania podejmowane przez Użytkowników.
                Oznacza to,
                że wszelkie konsekwencje wynikające z działań, decyzji lub treści publikowanych przez Użytkowników
                leżą
                wyłącznie po ich stronie. Serwis nie ma wpływu na zawartość opisów serwerów ani na działania osób je
                zamieszczających,
                w związku z czym nie może być pociągany do odpowiedzialności za ewentualne szkody, błędy czy
                nieścisłości
                wynikające z tych działań.</li>
            <li>Serwis nie weryfikuje wszystkich linków zamieszczanych przez Użytkowników i nie ponosi odpowiedzialności
                za jakiekolwiek szkody poniesione w wyniku przejścia na
                taki link.
                Oznacza to, że Użytkownicy powinni zachować ostrożność przy korzystaniu z zamieszczonych odnośników,
                ponieważ
                Serwis nie gwarantuje ich bezpieczeństwa ani rzetelności. Wszelkie ryzyko związane z odwiedzaniem takich
                stron
                internetowych spoczywa na Użytkownikach.</li>
            <li>Administrator nie ponosi odpowiedzialności za przerwy w dostępie do Serwisu, które mogą wynikać z
                sytuacji
                losowych, takich jak pożar, zalanie czy atak zombie. Oznacza to, że w przypadku wystąpienia zdarzeń
                niezależnych
                od Administratora, mogących spowodować czasową niedostępność Serwisu, Administrator nie będzie
                odpowiadał za
                ewentualne straty lub niedogodności, jakie mogą wyniknąć dla Użytkowników.</li>
        </ol>
        <h2>§4. Dane Osobowe</h2>
        <ol>
            <li>Dane osobowe Użytkowników nie są udostępniane podmiotom trzecim bez ich dobrowolnej zgody. Oznacza to,
                że
                wszelkie informacje osobowe przekazywane przez Użytkowników w ramach korzystania z Serwisu są chronione
                i nie
                będą przekazywane innym podmiotom, chyba że Użytkownik wyrazi na to wyraźną zgodę. Serwis zobowiązuje
                się do
                przestrzegania prywatności i ochrony danych osobowych zgodnie z obowiązującymi przepisami prawa.</li>
            <li>Dane osobowe Użytkownika są przechowywane przez Administratora w Bazie Danych do momentu usunięcia konta
                lub
                stwierdzenia, że konto nie jest aktywne i przechowywanie danych jest już niepotrzebne. Oznacza to, że
                Administrator będzie przechowywać dane osobowe Użytkownika tak długo, jak konto będzie aktywne, lub do
                chwili,
                gdy uzna, że dalsze przechowywanie tych danych nie jest konieczne</li>
            <li>Wszelkie zasady dotyczące przetwarzania danych osobowych określa <a href="/privacy-policy"
                    class="link">Polityka Prywatności Serwisu</a>.</li>
            <li>Na adres e-mail powiązany z kontem będą przesyłane wiadomości o zdarzeniach dotyczących Użytkownika,
                takie
                jak potwierdzenie adresu e-mail, link resetujący hasło itp. Oznacza
                to, że
                Użytkownik będzie otrzymywał na swój adres e-mail wszelkie powiadomienia i informacje związane z
                aktywnością na
                swoim koncie oraz korzystaniem z usług Serwisu.</li>
        </ol>
        <h2>§5. Prawa i Obowiązki Użytkownika</h2>
        <ol>
            <li>Użytkownik ma możliwość usunięcia i modyfikowania swoich danych oraz prawo do cofnięcia zgody na ich
                przechowywanie, co jest równoznaczne z usunięciem konta. Oznacza to, że użytkownik może w każdej chwili
                dokonać
                zmiany lub usunięcia swoich danych osobowych z Bazy Danych Serwisu oraz zrezygnować z dalszego
                korzystania z
                konta poprzez zgłoszenie takiego żądania do Administratora. Cofnięcie zgody na przetwarzanie danych jest
                równoznaczne z usunięciem konta Użytkownika.</li>
            <li>Użytkownik może zrezygnować z posiadania konta i usunąć wszystkie dane poprzez panel Użytkownika na
                stronie.
                Oznacza to, że użytkownik ma możliwość samodzielnie zarządzać swoim kontem w Serwisie i w każdej chwili
                zdecydować o jego usunięciu. Poprzez panel użytkownika, Użytkownik może wykonać procedurę usunięcia
                konta oraz
                wszystkich związanych z nim danych. Ta opcja umożliwia Użytkownikowi pełną kontrolę nad swoim kontem i
                danymi
                osobowymi.</li>
            <li>Konto użytkownika może zostać usunięte w przypadku naruszenia postanowień Regulaminu. Oznacza to, że
                Administrator Serwisu ma prawo do usunięcia konta użytkownika, jeśli stwierdzi naruszenie Regulaminu.
                Decyzja o
                usunięciu konta może być podjęta w przypadku poważnego lub powtarzającego się naruszenia warunków
                korzystania z
                Serwisu, co stanowi zabezpieczenie dla integralności i bezpieczeństwa społeczności korzystającej z
                Serwisu.</li>
            <li>Publikując treści w Serwisie, Użytkownik oświadcza, że jest autorem treści i posiada wszelkie prawa
                autorskie, w szczególności prawa do grafik. Oznacza to, że użytkownik jest odpowiedzialny za treści,
                które
                udostępnia w Serwisie, i potwierdza, że ma prawo do ich publikacji oraz nie narusza w ten sposób praw
                autorskich
                ani innych praw osób trzecich. Ponadto, użytkownik zgadza się na udzielenie Serwisowi nieodpłatnej
                licencji do
                korzystania z treści w zakresie umożliwiającym funkcjonowanie Serwisu i realizację jego celów, z
                zachowaniem
                praw autorskich użytkownika.</li>
        </ol>
        <h2>§6. Serwery</h2>
        <ol>
            <li>Zamieszczanie fałszywych informacji o serwerze może skutkować usunięciem serwera z listy lub nawet
                zablokowaniem go na stałe.</li>
            <li>Akceptujemy jedynie polskie serwery. Serwery zagraniczne będą automatycznie usuwane i blokowane.</li>
            <li>Nabijanie głosów przez boty lub innego rodzaju oprogramowanie może skutkować usunięciem serwera z listy.
            </li>
            <li>Serwery, które posiadają zawyżoną ilość graczy online, będą usuwane i blokowane.</li>
            <li>Administrator zastrzega sobie prawo do usuwania serwerów nieaktywnych lub tych, co posiadają zerową
                ilość graczy przez dłuższy okres czasu.</li>
            <li>Punkty głosowania są ważne przez 31 dni od dnia oddania głosu. Po tym czasie głos zostanie usunięty z
                puli aktywnych głosów.</li>
        </ol>
        <h2>§7. Baner reklamowy</h2>
        <ol>
            <li>Tymczasowa usługa nabywana na miesiąc (31 dni) liczona od dnia uiszczenia stosownej opłaty.</li>
            <li>Banery reklamowe wyświetlane są na stronie głównej. Każde żądanie otrzymuje kolejny baner. Dzięki temu
                liczba wyświetleń banerów jest równa i nie występuje tutaj czynnik losowy.</li>
            <li>Banery reklamowe mogą być jedynie w formacie webp/png/jpeg/gif.</li>
            <li>Każdy nowy baner przechodzi weryfikacje, czy dany baner spełnia wymagania serwisu.</li>
            <li>Banery o rozmiarze innym niż jest wymagany, może zostać automatycznie ucięty, aby pasował rozmiarem do
                naszych wymagań.</li>
            <li>Każda zmiana banera lub linku wymaga ponownej weryfikacji. Podczas weryfikacji baner zostaje ukryty na
                naszej stronie do czasu zatwierdzenia przez Administratora. Nie przysługuje wtedy przedłużenie okresu
                ważności banera.</li>
            <li>Zakazane są treści +18, reklamowanie innych serwisów z listami serwerów gier oraz grafiki wprowadzające
                w
                błąd.</li>
            <li>Każdy baner powinien być estetyczny i powinien mieć dobrą jakość. Brzydkie banery zostaną przez
                Administratora strony odrzucone na etapie weryfikacji.</li>
        </ol>
        <h2>§8. Płatność</h2>
        <ol>
            <li>Rozliczenia transakcji e-przelewem przeprowadzane są za
                pośrednictwem <a href="https://hotpay.pl/" class="link">HotPay</a></li>
            <li>Wszelkie reklamacje związane z płatnością można składać w <a href="https://hotpay.pl/reklamacja/"
                    class="link">formularzu reklamacyjnym</a></li>
            <li>Dostępne formy płatności w Serwisie: Przelew, PayPal oraz Blik.</li>
        </ol>
        <h2>§9. Postanowienia Końcowe</h2>
        <ol>
            <li>Administrator zastrzega sobie prawo do zmiany treści Regulaminu bez informowania Użytkowników.</li>
            <li>Działanie Serwisu może zostać zakończone w dowolnym momencie, zwłaszcza w przypadku wysokich kosztów
                utrzymania. Oznacza to, że Administrator Serwisu ma prawo do zakończenia działalności platformy w
                przypadku, gdy
                utrzymanie jej stałoby się nieopłacalne lub nie możliwe z ekonomicznego punktu widzenia. Decyzja taka
                może być
                podjęta w sytuacji, gdy koszty utrzymania przewyższają korzyści płynące z dalszego prowadzenia Serwisu
                lub w
                innych uzasadnionych okolicznościach.</li>
            <li>Wszelkie spory związane z Serwisem będą rozstrzygane polubownie.</li>
            <li>
                Regulamin obowiązuje od dnia 12.08.2024.
            </li>
        </ol>
    </article>

    <div th:replace="~{fragment/footer :: footerFragment}"></div>
</body>

</html>