$color-white: #f5f5f5;
$color-dark: #00000042;

$color-theme: #e2a258;
$color-theme-dark: #ce8e45;

$color-red: rgb(252, 99, 107);
$color-red-dark: rgb(199, 52, 59);
$color-incorrect: rgb(253, 119, 126);

$color-green: rgb(92, 228, 98);
$color-green-dark: rgb(69, 202, 76);

$color-yellow: #ffd447;
$color-yellow-dark: #e9be32;